.addon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  font-family: var(--main-font);
  font-weight: bold;
  z-index: 0;
}

.addon-header {
  display: flex;
  justify-content: space-between;
  width: 94%;
  height: 70%;
  background-color: #fff;
  border-radius: 10px;
  z-index: 0;
  margin: auto;
}

.addon-header img {
  border-radius: 15px;
  margin-top: 0.4em;
  margin-left: 0.4em;
}
.addon-body {
  width: 97%;
  height: 20%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.addon-body .rating {
  justify-content: center;
  margin-left: 0.8em;
  z-index: 0;

}

.addon-menu-icon{
  margin-top: 0.3em;
  font-size: 1.5em;
  color: #2c3d5d;
}

.addon-menu-delete {
  font-size: 1.5em;
  color: #2c3d5d;
}
.addon-menu-like {
  font-size: 1.3em;
  color: #FF5C58;

}

.addon-header .left-section {
  display: flex;
  width: 88%;
  margin: auto;
  height: 85%;
}

.addon-body .num-downloads {
  font-size: 1.6em;
  margin-right: 0.3em;
  margin-top: 0.3em;
  height: 100%;
  display: flex;
}
.num-downloads .icon {
  margin-right: 0.2em;
}

.approve-section {
  min-width: 30%;
  max-width: 40%;
  margin-left: 1em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.addon-title {
  display: flex;
  flex-direction: column;
  color: #2c3d5d;
  margin-top: 0.2em;
  margin-left: 0.8em;
  height: 100%;
  width: 62%;
  font-size: 1.1em;
}

.addon-title a {
  display: flex;
  min-height: 10%;
  max-height: 70%;
  text-decoration: none;
  color: #2c3d5d;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}


#mouse-over-popover p,
#mouse-over-popover-post p{
  font-size: 1rem;
  font-family: var(--main-font);
  max-width: 350px;
  max-height: 100%;
}

#mouse-over-popover .title,
#mouse-over-popover-post .title {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  margin: auto;
  margin-top: 0.8em;
  padding: 5px;
  justify-content: center;
  color: white;
  background-color: #2c3d5d;
}

#mouse-over-popover .content,
#mouse-over-popover-post .content {
  font-size: 1rem;
  text-align: justify;
  color: #2c3d5d;
  padding: 0.5em 1em;
  margin: 1em 0.5em;
  height: 100%;
}

.home-download-btn {
  width: 20%;
  height: 2em;
  font-size: 0.5em;
  text-decoration: none;
  color:white;
  font-size: 0.7em;
  margin-right: 0.9em;
}

.addon-popover {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 12%;
  align-items: center;
}

.addon .btn-favourite {
  width: 2em;
  margin-bottom: 0em;
  margin-right: 0em;
}

#mouse-over-popover-post {
  height: 100%;
}
