.Register {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background-color: white;
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  padding-top: 2em;
  background-image: url("./5.webp");
  background-repeat: no-repeat;
  background-size: 70% 85%;
}

.user-register {
  background-color: white;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 15px;
  min-height: 45vh;
  max-height: 75vh;
  width: 30%;
  margin: auto;
  margin-right: 7em;
  margin-top: 10em;
  padding-bottom: 3em;
}

.section {
  margin: auto;
  width: 85%;
  margin-right: 2.7em;
}

.Register .form {
 min-height: 100%;
}

.Register .title-register {
  font-size: 1.4em;
  text-align: center;
  font-weight: bold;
  font-family: var(--main-font);
}

.Register h2 {
  margin-bottom: 0.5em;
}

.Register .register-btn {
  display: flex;
  margin:auto;
  width: 79%;
  margin-top: 1.5em;
  font-family: var(--main-font);

}

.css-1wc848c-MuiFormHelperText-root.Mui-error {
  font-size: 0.8em;
  text-align: left;
  margin: 0;
}