.Header {
  width: 100%;
  display: flex;
  background-color: #27282c;

  justify-content: space-between;
  height: 6em;
  position: absolute;
  top: 0;
}

.left-section {
  width: 30%;
  height: 100%;
}

.logo {
  margin-top: 0.7em;
  margin-left: 10em;
  max-height: 80%;
  image-rendering: auto;
}

.right-section {
  display: flex;
  height: 100%;
  width: 60%;
  margin: auto;
  margin-right: 0;
}

.navBar {
  width: 60%;
  height: 90%;
  display: flex;
  align-items:flex-end;
  justify-content:flex-end;
  font-size: 1.6em;
  font-family: var(--main-font);
}

.navBar a {
  color: #f5f5f5;
  /* text-transform: uppercase; */
  text-decoration: none;
  width:auto;
  height: 1.5em;
  padding: 4px 8px;
  margin-left: 1em;
}

.navBar>a.active:focus {
  background-color: #f5f5f5;
  color: black;
  outline:none; 
  border-radius: 10px;
}

.login-section {
  width: 25%;
  height: 85%;
  display: flex;
  margin-left: 4em;
  align-items:flex-end;
  justify-content: center;
}

.login-section button {
  color: #f5f5f5;
  text-transform: capitalize;
  font-family: var(--main-font);
  text-decoration: none;
  width:auto;
  height: 100%;
  padding: 4px 8px;
  margin-left: 1em;
  font-size: 1.6em;
}

.login-section .login-btn {
  align-items: flex-end;
}