.Footer{
  justify-content: center;
  height: 5em;
  width: 100%;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  align-items: center;
  background-color: #27282c;
  color:white;
  /* position: absolute; */
}

.footer-button {
  font-size: 1.2em;
  font-weight: 400;
  color: white;
  font-family: var(--main-font);
}

.footer-arrows {
  display: flex;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}
