.AllAddons {
  background-color: white;
  padding-top: 5em;
  min-height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
}

.all-addons-body {
  background: #f3f1f1;
  border-radius: 10px;
  height: 80%;
	display: flex;
  flex-direction: column;
  margin-bottom: 6em;
  margin-right: 10%;
  margin-left: 10%;
  padding: 2% 5%;
}
.all-addons-list {
  border-radius: 10px;
  width: 100%;
	display: flex;
  margin:auto;
	flex-wrap: wrap; 
  justify-content: left;
}
.header-all-addons {
  width: 80%;
  height: 4em;
  text-align: center;
  font-size: 1.3em;
  font-family: var(--main-font); 
  color: #30415d;
  display:flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

.each-addon {
	height: 220px;
  width: 30%;
  border-radius: 10px;
  color: #2c3d5d;
  margin: 19px;
  margin-bottom: 3em;

}

.each-addon:nth-child(even) {
	color: white;
  background: #2c3d5d;
}
.AllAddons .each-addon:nth-child(odd),
.Account .each-addon:nth-child(odd){
	background: #C2DED1;
  color: #2c3d5d;

}

.pagination {
  width: 300px;
  height: 3em;
  font-size: 1.4em;
  font-family: var(--main-font); 
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  cursor: pointer;
}

.pagination li {
  display: inline-block;
  font-size: 1em;
}

.pagination-link {
  font-size: 0.8em;
}

li.pagination-active {
  color: #3F3351;
  border-bottom: 2px solid #3F3351;
}
.AllAddons .home-buttons button {
  color: #f8f5f1;
  border-radius: 10px;
  display: flex;

  font-weight: bold;
  justify-content: right;
  padding: 0em 1em;
  font-family: var(--main-font);
  margin: 0.8em 1em 0em 0em;
  background-color: #2c3d5d;
  font-size: 1em;
}

.AllAddons .home-buttons  {
  color: #f8f5f1;
  border-radius: 10px;
  display: flex;
  width: 40%;

  justify-content: right;
  
}

.AllAddons .react-button:focus {
  color: black;
  background-color: #BDE6F1;
}

.AllAddons .angular-button:focus {
  background-color: rgb(204, 64, 64);
  ;
}




.search-addon-header {
  display: flex;
  margin-bottom: 0;
  width: 55%;
}

.search-addon-section {
  width: 65%;
  display: flex;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  margin-top: 1em;
  border-radius: 10px;
  background-color: #E6E6E6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.search-addon-title {
  width: 35%;
}

.search-addon-bar{
  width: 85%;
  display: flex;
  margin: auto;
  background-color: inherit;
  border: none;
  height: 80%;
  margin-left: 1em;
  margin-right: 0;
}

.search-button {
  margin: auto;
  font-size: 1.4em;
  color: #3F3351;
}
input:focus {
  outline: 0;
}

.AllAddons .search-addon-section input[type="search"],
.AllAddons .search-addon-section input[type="search"]::placeholder {
  font-size: 1em;
  color: #3F3351
}

.search-addon-title p {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #7c6b98, #000);
  background-repeat: no-repeat;
  background-size: 90%;
  padding: 0;
  animation: animate 2s linear infinite alternate;
  -webkit-background-clip: text;
}
