.Edit-post {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: x-large;
}

.Edit-post .section-left {
  margin-top: 6em;
  margin-right: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 100%;
  text-align: right;
}

.Edit-post .section-right {
  margin-top: 2em;
  margin-left: 1.5em;
}

.Edit-post .both-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.Edit-post .form-settings {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Edit-post .left-name-username-email-password {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.Edit-post .all-box {
  margin: auto;
}

.Edit-post .validationPass {
  color: red;
  display: flex;
  flex-direction: row;
  font-size: 17px;
}

.Edit-post .both-firstName-lastName {
  display: flex;
  flex-direction: column;
}

.Edit-post .valid-pass-icone {
  margin-right: 6px;
}

.Edit-post .email {
  text-align: right;
}

.Edit-post .save-icon {
  margin-top: 40px;
  cursor: pointer;
}

.Edit-post .username {
  margin-left: 30px;
}

.Edit-post .btn-upload {
  display: flex;
  align-items: flex-end;
  font-size: 30px;
}

.Edit-post .input-upload {
  display: none;
}

.Edit-post img {
  margin-left: 150px;
  border-radius: 100px;
  border: none;
}

.Edit-post .title {
  font-size: 2em;
  font-family: var(--main-font);
  margin-bottom: 0.7em;
  text-align: center;
  padding-top: 1em;
}
.Edit-post .left-name-username-email-password,
.user {
  font-family: var(--main-font);
}

.Edit-post .left-name-username-email-password .first-name {
  margin-bottom: 90px;
  font-family: var(--main-font);
}

.Edit-post .left-name-username-email-password .last-name {
  margin-bottom: 42px;
  font-family: var(--main-font);
}
.btnimpUpload {
  display: flex;
  width: 50%;
  margin: auto;
}
.Edit-post .left-name-username-email-password .username {
  margin-bottom: 46px;
  font-family: var(--main-font);
}

.Edit-post .left-name-username-email-password .email {
  margin-bottom: 90px;
  font-family: var(--main-font);
}

.Edit-post .box-edit-color {
  background-color: rgba(255, 255, 255, 0.4);
}

.Edit-post .section-title {
  background-image: url("./settings.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70vh;
  width: 60%;
  display: flex;
  margin: auto;
}

.all-box {
  width: 40%;
  height: 50%;
}

.change-section {
  width: 85%;
  height: 85%;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  padding-bottom: 2.5em;
  background-color: #d3e0ea;
}

.Edit-post .img-profile {
  margin-left: 0em;
}