.Addon {
  min-height: 100vh;
  width: 100%;
  background-color: #e9ecef;
  padding-bottom: 7em;
}

.Addon .rating-stars {
  font-size: 30px;
}

.Addon .left-header-section {
  height: 90%;
  display: flex;
  justify-content: space-between;
  width: 38%;
  background-color: white;
  padding-top: 2.5em;
  padding-right: 2.5em;
  border-radius: 30px;
}

.Addon .img-section img {
  height: 11em;
  width: 12em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.Addon .rating-header {
  width: 100%;
  display: flex;
  margin: auto;
  font-size: 1.3em;
  font-family: var(--main-font);
  font-weight: 500;
  justify-content: space-evenly;
  background-color: #ecf0f5;
  border-radius: 15px;
  height: 6em;
  margin-bottom: 1em;
}

.rating-header .num-downloads {
  display: flex;
  text-align: left;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  font-family: var(--main-font);
}

.addon-header-buttons {
  width: 20%;
  gap: 20px;
  padding-right: 2em;
  display: flex;
  margin-top: 0.5em;
  flex-direction: column;
  align-items: flex-end;
}

.addon-edit {
  font-size: 1.3em;
  margin-left: 0.5em;
}

.approve-addon-button,
.delete-addon-button,
.edit-addon-button {
  border: none;
  margin-left: 1em;
  padding: 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: large;
  text-align: center;
  font-family: var(--main-font);
  text-decoration: none;
  text-transform: uppercase;
  justify-content: space-between;
  border-radius: 15px;

  cursor: pointer;
}

.edit-addon-button  {
 background-color: #A5BECC;
 width: 7.5em;
 justify-content: center;

}

.approve-addon-button {
  background-color: #4fc5a0;
  width: 7.5em;
  justify-content: space-evenly;
  /* font-size: 1.3em; */
}

.Addon .addon-delete {
  font-size: 1.3em;
}

.delete-addon-button {
  background-color: #db6464;
  width: 7.5em;
  justify-content: space-evenly;
}


.Addon .btn-download {
  background-color: #30415d;
  color: white;
  padding: 9px;
  display: flex;
  justify-content: center;
  width: 8em;
  font-weight: 600;
  font-size: large;
  text-align: center;
  font-family: var(--main-font);
  margin-left: 0.9em;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 17px;
}

.Addon .right-header-section {
  width: 31%;
  background-color: white;
  border-radius: 30px;
  padding: 35px;
  height: 70%;
  margin-left: 4em;
}
.num-of-downloads {
  margin-top: 0.3em;
}
.Addon .header-addon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  width: 100%;
  height: 18em;
  padding-top: 5em;
}

.question {
  font-family: var(--main-font);
  margin-top: 0.2em;
  margin-left: 0.7em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

.Addon .title-btn-download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  width: 50%;
}

.Addon .download-icon {
  margin-left: 0.5em;
  font-size: 1.2em;
}

.Addon .addon-date {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 0.5em;
  margin-top: 0.3em;
  margin-left: 0.6em;

  color: #4d727e;
}

.Addon .img-section {
  display: flex;
  flex-direction: column;
  height: 85%;
  margin: auto;
  justify-content: space-between;
  margin-left: 1em;
}

.Addon .name {
  font-size: 35px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  padding-top: 0.5em;
  font-family: var(--main-font);
}

.Addon .creator,
.Addon .framework {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  height: 1.8em;
  align-items: flex-end;
  font-family: var(--main-font);
  margin-left: 0.6em;
  color: rgb(97, 97, 97);
}
.Addon .creator {
  margin-top: 1em;
}

.Addon .body-left-section {
  width: 41%;
  background-color: white;
  border-radius: 30px;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.3em;
  text-align: justify;
}

.left-section-title {
  font-family: var(--main-font);
  font-size: 1.5em;
  font: 600;
}

.addon-description {
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.Addon .body-right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 5em;
  width: 23%;
  background-color: white;
  padding: 3em;
  border-radius: 30px;
  height: 100%;
}

.Addon .each-addon-body {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3em;
  flex-direction: row;
  margin: auto;
  height: 70%;
}

.last-commit {
  display: flex;
  margin-top: 0.3em;

  font-size: 1.2em;
  gap: 10px;
  border-bottom: 1px solid rgb(134, 149, 192);
  padding-bottom: 15px;
  min-height: 20%;
  max-height: 40%;
  font-family: var(--main-font);
  align-items: center;
  padding-left: 0.3em;
}

.commit-github-section {
  display: flex;

}

.github-icon {
    font-size: 1.6em;
    margin-right: 0.3em;
}

.issue-icon {
    font-size: 1.6em;
    margin-right: 0.4em;
}

.requests-icon {
    font-size: 1.5em;
    margin-right: 0.7em;
}

.commit-icon {
    margin-right: 0.5em;
    font-size: 30px;
}

.last-commit-section {
    display: flex;
    flex-direction: column;
    
    width: 350px;
}

.downloads-icon {
    font-size: 1.6em;
    margin-right: 0.4em;
}

.Addon .body-right-section .last-commit-title-date {
  display: flex;
  margin-bottom: 0.5em;
  flex-direction: column;
    font-weight: bolder;
  gap: 5px;
}

.Addon .body-right-section .tag {
  box-sizing: border-box;
  border: solid #5b6dcd 1px;
  font-family: var(--main-font);
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  margin: 5px;
  font: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.tags-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(134, 149, 192);
  padding-bottom: 2em;
}

.tags-title {
  font-family: var(--main-font);
  font-size: 1.2em;
  font: 600;
  width: 100%;
  margin-bottom: 0.5em;
}

.tags-body {
  height: 100%;
  max-inline-size: none;
  display: -webkit-inline-box;
  flex-wrap: wrap;
}

.Addon .btn-save {
  position: absolute;

}
