.Create-addon {
  display: flex;
  height: 100vh;
  margin: auto;
  width: 100vw;
  padding-bottom: 3em;
  background-color: #f2f3f4;
}

.Create-addon .create-addon-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  background-color: white;
  height: 80%;
  width: 45%;
  margin: auto;
  margin-top: 3em;
  border: 3px solid #00303F;
}

.Create-addon .input-upload {
  display: none;
}

.Create-addon .btn-upload {
  height: 60px;
  display: flex;
  font-size: x-large;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.Create-addon .btn-img-upload {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-right: 2em;
  cursor: pointer;
}

label {
  cursor: pointer;
}


.Create-addon .upload-img-file {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 4em;
  width: 100%
}

.Create-addon .btn-create {
  font-weight: bold;
  padding: 10px;
  width: 100%;
  font-size: 1.5em;
  background: #30415d;
  border-radius: 7px;
  height: 2.2em;
  border: none;
  color: white;
  font-family: var(--main-font); 
  margin-top: 2em;
  text-transform: uppercase;
  cursor: pointer;
}

.Create-addon .div-btn-create {
  text-align: center;
}

.Create-addon .select-sections {
  display: flex;
  flex-direction: row;
  gap: inherit;
  justify-content: space-between
}

.Create-addon h1 {
  width: 50%;
  margin-left: 0.5em;
  text-align: center;
  font-size: 2.2em;
  font-variant: petite-caps;
  text-align: left;
  font-family: var(--main-font); 
  color: #30415d;
}

.btn-submit-icone-upload-img-file a{
  margin-left: 0.5em;
  text-decoration: none;
  z-index: 0;
  color: #00303F;
}

.Create-addon .hover-btn {
  display: none;
}

.btn-submit-icone-upload-img-file .btn-upload:hover + .hover-btn,
.upload-img-file .label-upload:hover + .hover-btn  {
  display: block;
  background-color: rgb(54, 54, 54);
  font-family: var(--main-font); 
  color: rgb(225, 225, 214);
  font-size: 0.9em;
  padding: 5px 9px;
  position: absolute;
  top: 17.5em;
  z-index: 1;
}
.upload-img-file .label-upload:hover + .hover-btn  {
  margin-left: 2em;
  
}
.upload-img-file a{
  margin-left: 0.5em;
  text-decoration: none;
  z-index: 0;
  color: #00303F;
}

.angular-icon,
.react-icon  {
  width: 1.6em;
  height: 2em;
  margin-right: 1em;
}

.angular-icon {
  color: rgb(204, 64, 64);
}

.react-icon {
  color: rgb(96, 177, 214);
}

.upload-file-icon,
.upload-img-icon {
  font-size: 3em;
  color: #00303F;

}

.label-upload {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.Create-addon #username {
  background-color: rgba(255,255,255,0.9);
}

