.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0.6em 0.7em;
  font-family: var(--main-font);
  
}
.css-6hp17o-MuiList-root-MuiMenu-list a{
  display: flex;
  padding: 0.3em 0.7em;
  text-decoration: none;
}

#fade-button .avatar-icon{
  margin-left: 2em;
}

.Logout {
  width: 100%;
  display: flex;
}
.account-text {
  text-align: center;
  color: black;
  padding: 0.5em;
}
.Logout{
    align-items: flex-end;
}
.admin-icon {
  margin-right: 0.5em;
}

.img-account{
  border-radius: 100%;
}


.Logout .img-account {
  margin-left: 0.5em;
}
.logout-name {
  display: flex;
    align-self: flex-end;
    width: 100%;

}