.Forum {
width: 100%;
height: 100%;
min-height: 100vh;

}

.Forum .forum-body-post {
  background-color: #eef2f5;
  height: 100%;
 display:flex;
 flex-direction: column;
 width: 70%;
 margin:auto;
  margin-bottom: 7em;
  padding-left: 5em;
  padding-right: 5em;
  
}

.Forum .posts-flex {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 100%;
    margin-top:4em;

    margin-bottom: 100px;
    gap: 3.5em;
}

.Forum .btn-create-post {
    color: white;
    background-color: darkcyan;
    border: none;
    text-decoration: none;
    width: 300px;
    padding: 0.5em;
    font-size:  0.8em;
    border-radius: 10px;
    margin-bottom: 1em;
    margin-left: 3em;
    height: 100%;
}

.Forum .btn-create-post:hover {
  background-color: rgb(94, 179, 179);
}

.Forum .forum-header {
  background-image: url("./QA.webp");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  height: 50em;
  width: 70%;
  display: flex;
  margin: auto;
}



.Forum .header {
  width: 90%;
  height:1.8em;
  display: flex;
  margin: auto;
  padding-top: 2em;
  justify-content: center;
  font-family: var(--main-font);
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: darkcyan;
}

.moving-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
  animation: 4s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.each-post {
  width: 30%;
}