.Post {
  border: 1px solid #8b8680;
  height: 18em;
  width: 100%;
  background-color: white;
}

.Post .bottom-section{
    height: 2.5em;
    border-top: 1px solid #8b8680;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 30px;
    color:#225e70;
    padding-right: 20px;
    font-family: var(--main-font);
    font-size: 1.3em;
}



.Post .bottom-section .date {
    text-align: right;
    width: 50%;
    font-weight: 600;
    font-family: var(--main-font);

}

.Post .bottom-section .like-comment {
    width: 50%;
    display:flex;
    flex-direction: row;
    cursor: pointer;
}

#mouse-over-popover-post .title {
    background-color: darkcyan;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#mouse-over-popover-post .content {
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 100%;
}

.Post .head-title {
font-size: 1.8em;
font-weight: bold;
text-align: center;
margin: auto;
color: darkcyan;
width: 100%;
font-family: var(--main-font);

margin-left: 10px;
display: flex;
align-items: center;
justify-content: center;
}

.Post .author {
    font-size: 20px;
color: #4D727E;
margin-top: 0.5em;
margin-left: 1.9em;
margin-right: 20px;
font-family: var(--main-font);
    height: 15%;
}

.Post .body-content {
    font-size: 1.2em;
    text-align: justify;
    word-wrap: break-word;
    margin: 0.3em 1.8em 0.4em;
    height: 61%;
    font-family: var(--main-font);
    background-color: #F2F6F5;
    padding: 0.7em;
    border-radius: 15px;
}

.Post .like {
    margin-right: 10px;
}

#addedIdea {
    font-size: xx-large;
    font-weight: bold;
    color:red;
    text-align: center;
}

.Post .points-popover {
    margin: 1px;
    margin-top: 0.3em;
    font-size: 2em;
    color: #2c3d5d;
    width: 1.5em;
}

.middle-section{
    width: 100%;
    height: 60%;
}

.title-popover {
    display: flex;
    flex-direction: row;
    height: 3.5em;
    margin-bottom: 0.5em;
    border-bottom:1px solid #93B5B3;
}

.btn-popover a{
    margin-left: 0.5em;
    text-decoration: none;
    z-index: 0;
    color: #00303F;
  }
  
  .Post .hover-btn {
    display: none;
  }
  
  .btn-popover .points-popover:hover + .hover-btn {
    display: block;
    background-color: rgb(54, 54, 54);
    font-family: var(--main-font); 
    color: rgb(225, 225, 214);
    font-size: 0.6em;
    padding: 5px 9px;
    position: absolute;
    top: 26.5em;
    margin-left: 1.7em;
    z-index: 1;
  }

  .Post .btn-like-dislike {
    border: none;
    background-color: white;
    color: rgb(30, 108, 108);
    font-family: var(--main-font);
    cursor: pointer;
    font-size: 1.12em;
  }