
.div-about {
  border: 3px solid rgb(188, 174, 115);
  height: 330px;
  width: 70%;
  font-family: var(--main-font);

  position: absolute;
  top: 5em;
  padding-bottom: 2em;
  margin-right: 5em;
  left: 300px;
  background-color: white;
}

.img-contact {
  background-image: url("./about.webp");
  background-repeat: no-repeat;
  width: 70%;
  height: 24em;
  background-size: 100% 110%;
  bottom: 0;
}

p+p, .partners {
  padding-left: 2em;
  padding-right: 2em;
  text-align: justify;
  font-size: 1.15em;
}

.titleAboutUs {
  font-size: 1.6em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}
