.login-title {
  text-align: center;
  font-size: 1.9em;
  font-family: var(--main-font);

}

.login-account-text {
  font-family: var(--main-font);
  margin-top: 1em;
  font-size: 1.2em;
}

.login-account-text a {
  margin-left: 1em;
}
