.Account{
  min-width: 100vw;
  min-height: 100vh;
}

.account-header {
  height: 20vh;
  width: 100%;
  display: flex;
  margin: auto;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  background-color: inherit;
  font-family: var(--main-font); 
  font-size: 1.3em;
  padding-top: 2em;
  padding-left: 3em;
  width: 52%;
  height: 10vh;
  margin-right: 0;
}

.profile-button{
  width: 15%;
  height: 10vh;
  background-color: inherit;
  padding-top: 2em;
  display: flex;
  margin: auto;
  margin-left: 0;
  z-index: 0;
  font-size: 2.3em;
  cursor: pointer;
  color: #00303F;

}

.profile-button a{
  margin-left: 0.5em;
  text-decoration: none;
  z-index: 0;
  color: #00303F;
}

.account-names {
  font-size: 2em;
  color: #3F3351;
  font-weight: bold;
  display: flex;
}

.hide {
  display: none;
}

.profile-button a:hover + .hide,
.edit-profile-btn .btn:hover + .hide {
  display: block;
  background-color: rgb(54, 54, 54);
  font-family: var(--main-font); 
  color: rgb(225, 225, 214);
  font-size: 0.5em;
  padding: 3px 7px;
  position: absolute;
  top: 7.5em;
  margin-left: 1.7em;
  z-index: 1;
}

.css-heg063-MuiTabs-flexContainer {
  display: flex;
  margin: auto;
  width: 65%;
  margin:auto;
}

.css-heg063-MuiTabs-flexContainer span{
  width: 65%;
  margin:auto;

}

.profile-my-addons{
  width: 70%;

  border-radius: 10px;

	display: flex;
  margin:auto;
  margin-bottom: 3em;
	flex-wrap: wrap; 
}

.Account .admin-icon {
  align-self: center;
}
.Account .names {
  align-self: center;
}

.Account .user-data {
  color: #2c3d5d;
  margin-bottom: 0.5em;
}

.search-user-section {
  display: flex;
  margin-bottom: 2em;
  margin-top: 1.5em;
  height: 3.5em;
  border-radius: 5px;
  width: 50%;
  background-color: #E6E6E6;
}

.search-user-section input[type="search"],
  .search-user-section input[type="search"]::placeholder{
  font-family: var(--main-font);
  font-size: 1.1em;
  color: black;
}
.search-user-bar {
  width: 85%;
  display: flex;
  margin: auto;
  background-color: inherit;
  border: none;
  height: 80%;
  margin-left: 1em;
  margin-right: 0;
}

.no-addons-msg {
  font-family: var(--main-font);
  font-size: 1.3em;
  margin-left: 2em;
}