.table-username,
 .table-email,
 .table-names,
 .table-blocked{
  font-size: 1.5em;
  font-family: var(--main-font);
  align-items: center;
  align-self: center;  
}

.table-username {
  display: flex;
  width: 100%;
  margin:auto;
  margin-left: 2em;
}

.table-username .username {
  margin-left: 0.8em;
}

.css-1ou9vzd-MuiTableCell-root-MuiTablePagination-root:last-child {
  width: 100vw;
  overflow: hidden;
}



.role-admin,
.role-basic,
.role-blocked {
  display: flex;
  margin: auto;
  padding: 0.3em 0.7em;
  justify-content: center;
  font-size: 1.3em;
  border-radius: 30px;
  font-family: var(--main-font);
  color: #191919;
}

.role-blocked {
  background-color: rgb(213, 132, 132);
}


.role-admin {
  background-color: #F9D276;
}

.role-basic{
  background-color: #a3b9d6;

}

.header-search-user {
  width: 100%;
  font-size: 1.8em;
  justify-content: space-between;
  font-family: var(--main-font); 
}
.table-blocked button {
  display:flex;
  width: 100%;
  padding: 0;
  justify-content: center;
}
.table-blocked{
  width: 100%;
}

.block-text {
  display: flex;
  font-size: 1.3em;
}

.unblock-icon {
  font-size: 2em;
  margin-left: 0.2em;

}
.block-icon {
  margin-left: 0.5em;
  font-size: 1.34em;
}