 .IS_info_img,
 .IY_info_img {
      width: 220px;
      height: 330px;
      border-radius: 10px;
      align-self: left;
  }

  .content-contact {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    width:92%;
    justify-content: center;
    margin: auto;
  }
  
  .content-contact .email, .phone{
      font-size: 1.3em;
      font-weight: bold;
      font-family: var(--main-font);

  }
  .content-contact .phone{
      margin-bottom: 15px;
      color: #b3aba2;
      font-size: 20px;
      font-weight: bold;
  }
  
  .title-contact-us {
      text-align: center;
      font-family: var(--main-font);
        font-weight: bold;
      font-size: 2.5em;
      margin-bottom: 0.5em;
  }

  .contact-links {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5em;
  }

  .contact-links-IS {
    width: 110px;
    display: flex;
    gap:1em;
    margin-left: 0.5em;
  }

 