.Home {
  min-height: 100vh;
  width: 100%;
}

.header-section {
  background-image: url("./1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25em;
  width: 100%;
  display: flex;
  margin: auto;
}

.Home .header-menu {
  width: 60%;
  height: 11em;
  margin: auto;
  border-radius: 15px;
  display: flex;
  background-color: #15133C;
}

.Home .header-menu button {
  color: white;
  border-radius: 30px;
  padding: 0.5em 1em;
  font-family: var(--main-font);

  border: 2px solid #2e2a73;
  margin: 0.5em 1.5em;
  background-color: transparent;
  font-size: 1.2em;
}

.Home .header-menu button:focus {
  border: 2px solid white;
  transition: all 0.3s ease;
}

.Home .header-menu h1 {
  color: white;
  font-family: var(--main-font);
  text-align: center;
  margin-bottom: 0.3em;
}

.Home .body-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  padding: 0em 2em 7em 2em;

}

.each-section-home {
  height: 17em;
  width: 70%;
  background-color: #e9ecef;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.body-section label {
  font-size: 1.9em;
  font-weight: bold;
  font-family: var(--main-font);
  margin:auto;
  margin-bottom: 0.5em; 
  margin-top: 2em; 
  width: 69%;
  display:flex;
}

.Home .home-buttons {
  display: flex;
  justify-content: center;

}
.each-section-home .arrow-btn {
  color:#15133C;
  width: 100%;
  height: 2.5em;
  padding: 0;
  align-self: center;
}
.Home .each-section-home button {
  height: 100%;

}

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: hidden;
  margin-top: 1em;
}

#container img {
  width: 40px;
  height: 40px;
}

#container .left-section {
  flex-direction: column;
  width: 250px;
  height: 100%;
}

#container .addon-title {
  font-size: 1em;
}

#container .each-addon:nth-child(odd) {
	background: rgb(148, 147, 147);
  color: white;

}

.search-addon-section-home {
  width: 35%;
  height: 35%;
  display: flex;
  margin: auto;
  margin-right: 1.5em;
  border-radius: 10px;
  padding-right: 0.5em;
  background-color: #a19fce;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-addon-section-home a{
  margin: auto;
  font-size: 1.1em;
}
.home-header-left-section {
  width: 60%;
  margin: auto;
}

.search-addon-section-home input[type="search"],
.search-addon-section-home input[type="search"]::placeholder {
  font-family: var(--main-font);

  font-size: 1em;
  color: black;
}

